/* Main */
.news{
  align-self:flex-start;
  background-color:#f9f9f9;
  padding:7px;
  margin:7px;
  font-weight:bold;
}

.news h2{
  font-size:18px;
}

.news h4{
  font-size:15px;
}

.newstitle a{
  color:#000;
}

.newstitle a:hover{
  text-decoration:none;
}

.newsdetails{
  text-align:justify;
  font-weight:normal;
}

.figcap{
  font-size:11.5px;
  color:gray;
  line-height:20px;
  margin-bottom:0px;
  margin-top:0;
  text-align:left;
}
