/* sidebar */
.latestnews{
  align-self:flex-start;
  order:1;
  background-color:#fff;
  padding:7px;
  margin:7px;
  border:1px #09232f solid;
  font-weight:bold;
}

.latestnews h1{
  font-size:20px;
  text-decoration:underline;
}

.latestnews h2{
  font-size:16px;
  padding-top:9px;
  padding-bottom:3px;
}

.latestnews h4{
  font-size:12px;
}

.latestdetails{
  text-align:justify;
  font-weight:normal;
}

.latestnews a{
  text-decoration:none;
  color:#000;
}

.latestnews a:hover{
  text-decoration:underline;
}

.advertisement{
  align-self:center;
  order:2;
  padding:7px;
  margin:7px;
  text-align:center;
}
